[2020-06-03 05:17] Gallaecio opened #3 "Remove the egg-info folder from the repository"
I believe the `number_parser.egg-info` folder should not be in the repository.

After you remove it, you should probably add `*.egg-info/` to `.gitignore`. See [protego’s .gitignore](https://github.com/scrapy/protego/blob/master/.gitignore) for reference.

[2020-06-03 18:12] arnavkapoor commented on #3
Thanks @Gallaecio resolved

[2020-06-03 18:12] #3 closed

[2020-06-17 19:20] noviluni opened #4 "Edge cases that are not working"
Some edge cases that should be fixed:

* "A hundred" should return "100" (similar than "one hundred").
* "twentyone" should return "21" (reference: https://en.wiktionary.org/wiki/twentyone)

On the other side, when having "5 hundred" I think it should return "500". What do you think?

Example:

[code]

[code]

Please, add a test with each of these strings when fixing it :)

On the other hand, I th

[2020-06-17 19:28] noviluni opened #5 "`ignore` parameter"
I think it could be really cool to add an optional parameter to ignore some words.

Example:

[code]
or

[code]

[2020-06-17 19:38] noviluni opened #6 "Support ordinals"
I open this ticket to track the ordinal's feature.

From my understanding, what we should achieve is:

[code]

However, as we support other words in the sentence, we should probably take care of some ambiguous words. I would take special care to "second". I think it should be translated to "2nd" only when it's not preceded by:
* `1` (example: `"1 second"`)
* `one` (example: `"one second"`)
* `a` (

[2020-06-18 09:10] noviluni opened #7 "Add a `parse_number()` function"
I think it could be really useful to have a function called `parse_number()` that expects a written number and returns the equivalent number (Python number):

[code]

It's easy to imagine use cases, and it will be useful to refactor the current code.

With the currently implemented logic, it shouldn't be difficult to create it by using the `number_builder`.

[code]

We should decide what to do if

[2020-06-18 09:12] noviluni commented on #7
Hei @arnavkapoor, I think that we could prioritize this as it will help to define a better structure for the `parser.py`.

[2020-06-18 09:17] noviluni opened #8 "Following pep8"
We should follow [PEP 8](https://www.python.org/dev/peps/pep-0008/).

To do it, I would proceed by adding [flake8](https://pypi.org/project/flake8/) and running it. We can add a pipeline later to automatically run it when creating a new PR.

For the line-length, I suggest to set it at 119 characters (as Django or Scrapy do).

[2020-06-18 09:24] Gallaecio commented on #5
Unless we can think of a popular use case, or this is trivial to implement, it may be better to leave something like this for last.

[2020-06-18 09:45] arnavkapoor commented on #5
@Gallaecio one use case is probably words like 'two second', 'a second' which @noviluni  mentioned in #6 , where we don't want to parse second as 2nd. Of course, we should handle most of these ambiguous cases within the main logic, but as we expand to more languages this option might be useful.

[2020-06-18 09:55] noviluni commented on #5
Yeah, this idea came from this example: omitting "second". I could be also useful if we start accepting some sentences like "one and a quarter" (1.25) as "quarter" it's also a verb or a noun "the first quarter".

However, it's not necessary to implement this now. We should first accept multiple languages and then see how can we add specific rules for different languages, so we don't need to develo

[2020-06-18 10:05] noviluni commented on #7
By the way, I think that: `parse_number("1")` should return `1` too.

[2020-06-18 10:05] arnavkapoor commented on #7
Sure @noviluni I will start working on this, just confirming even multiple numbers in the same string things should return None.
[code]
I will create a PR in a while, however not very sure how exactly do we use it within the main parse
function for reusability.

[2020-06-18 10:28] noviluni commented on #7
I think so.

I think that we could extract part of the logic inside number_builder() in another function to be reused in `parse_number()`. In fact, the logic would be pretty the same except for:
* we will return a number instead of an str.
* we shouldn't return anything if there is a token that is not part of the number.

However, I prefer you to code something and discuss it through the PR, as it

[2020-06-18 13:57] arnavkapoor commented on #7
Hi @noviluni sure I was wondering about the feasibility of the main  ```parse()``` function using this ```parse_number()```. But of course, they both can use the common ```number_builder()```.
This structure is what I went with for the current PR #9.

[2020-06-18 14:32] arnavkapoor commented on #4
I was thinking a bit about these edge cases

1. twentyone - This seems to be a specific alternate form of the number thus we should probably a dictionary of hard-coded exceptions that would be language specific to handle such cases.

2. 5 hundred - I do agree that 500 is the more natural and expected parsing, This might involve a lot of major code changes so I might push it for a bit later, with f

[2020-06-18 18:32] noviluni opened #10 "Add support for multiple locales"
This library should support multiple languages.

As a first approach, we could support `English` (default) and three more languages that could be `Spanish`, `Russian`, and `Hindi`, as they are broadly used and have different alphabets.

- - -

We could use a similar approach than the approach used in `dateparser`.

It works like this:
* `json` files coming from CLDR
* `yaml` files containing speci

[2020-06-18 18:34] noviluni commented on #4
1. Agree
2. Agree, I like what I see in your examples. If anyone has another idea just raise it.
3. I think that we should "remove" the "a" in the same cases we omit the "one". That is: "a hundred", "a million", "a billion", etc. Removing the "a" from "a one" doesn't have any sense for me.

However, I think that this ticket shouldn't be prioritized as we should first accept other languages (https:

[2020-06-19 21:51] arnavkapoor opened #11 "Adding support for decimal and negative numbers"
Opening a new ticket for adding support for decimal and negative numbers. More details for the same discussed [here](https://github.com/arnavkapoor/number-parser/pull/9#discussion_r442400344).

[2020-06-22 18:29] Gallaecio commented on #4
Regarding

I think the right wording would be:

Where removing the ‘a’ makes sense.

[2020-06-22 18:35] noviluni commented on #7
Hi @arnavkapoor! As we have merged the PR I think you can close this issue. :muscle:

[2020-06-22 18:36] Gallaecio commented on #11
It may make sense to keep separate issues for each.

Also, for decimal numbers, https://docs.python.org/3/library/decimal.html should probably either be used, or be usable (á la `parse_float=Decimal` of `json.loads`).

[2020-06-26 15:06] arnavkapoor commented on #10
I have created a draft PR #12  (I still need to test properly / clean the code ) up a bit. I will appreciate inputs regarding the approach and the feasibility of expanding it to even more languages. This is an overview of the approach followed.

The main approach rests on creating 6 sets of dictionaries for each of the languages:-

- UNIT_NUMBERS  -> Numbers from 1 to 9.
- BASE_NUMBERS -> These co

[2020-06-26 15:46] noviluni opened #13 "normalization of the language data"
Some languages have accents, etc. and they are commonly missing, so when trying to do something like this:

[code]
it doesn't work, but doing this:

[code]

it works. We should normalize the language data to avoid this kind of issue.

[2020-06-26 15:49] noviluni opened #14 "handle case when language is not known"
When adding a non existent locale the `parse_number` method returns a `FileNotFoundError` error:

[code]

We should handle this case by raising a `ValueError` with a message about the error ("locale not supported").

[2020-06-26 15:52] noviluni opened #15 "Add language-specific tests"
We should add tests for the "officially" supported languages, that are (at this moment): Hindi, Spanish, Russian (English have already tests).

[2020-06-26 16:01] noviluni commented on #10
Hi @arnavkapoor !

The most valuable things in this project at this moment are:
* Tests
* Tests (yes, they are quite important)
* Raw data

Believe me, we will probably need to rewrite all the code, but the important thing is keeping good tests and making sure that they pass.

The interface will be really important too, as we need it to build the tests, but for now, it doesn't matter if it changes

[2020-06-26 18:18] #7 closed

[2020-06-29 07:44] kishan3 opened #16 "Update README.rst"
We should update README with more details like installing, the example uses, etc.

[2020-06-30 16:13] noviluni opened #18 "Add support for other numeral systems."
At this moment, the main `number-parser` goal is to return the number equivalences from different languages, but only when those words are representing the number using the "decimal numeral system" (https://en.wikipedia.org/wiki/Decimal).

However, there are some numeral systems that don't rely on the decimal numeral system and uses other structures. That's the case of the Roman Numeral System (ht

[2020-06-30 16:21] noviluni commented on #10
I have just created a new ticket to track the point 2.1: https://github.com/arnavkapoor/number-parser/issues/18

However, as mentioned before, don't worry too much about the other languages and be focused on adding support for Hindi, Spanish and Russian (apart from English). I'm sure that we will be able to fix other languages in the future :smile:

[2020-07-02 12:31] arnavkapoor commented on #13
Hi thanks for pointing this issue out. I guess the best plan of approach is to normalise strings while creating the language files. Then in the main parser file also we pre-process and normalise the input string.
https://stackoverflow.com/questions/517923/what-is-the-best-way-to-remove-accents-normalize-in-a-python-unicode-string this seems to be a relevant discussion on the problem. Most of the s

[2020-07-05 20:24] noviluni commented on #13
As you, as think is better to avoid using external libraries / dependencies if it's possible. :+1:

[2020-07-06 09:55] Gallaecio commented on #13
Just a side note: @arnavkapoor Really good work checking the dependency licenses. I think this is a topic often forgotten (or, in any case, I tend to forget about this) yet really important.

[2020-07-06 11:38] arnavkapoor opened #20 "Updating variable names"
The current variables/structure for the data files are as follows :-
[code]
More information on what each variable stores is [here](https://github.com/arnavkapoor/number-parser/issues/10#issuecomment-650229406).
However the variable names aren't as descriptive and based on the discussion [here](https://github.com/arnavkapoor/number-parser/pull/19#discussion_r448017612), I plan to change them to th

[2020-07-06 12:07] noviluni commented on #15
Hi @arnavkapoor!

Here a list of 20 numbers in Spanish that should be included in the language tests. I don't expect all of them to be working in the first version, especially for some single word examples, and we will probably need to add them in the `supplementary_data` file, but don't worry about this.

The tests could be written with `@pytest.mark.parametrize` and for those failing right now d

[2020-07-06 12:51] lopuhin commented on #20
New names make a lot more sense, thanks 👍

[2020-07-06 12:52] kishan3 commented on #20
Looks good to me too ! :+1:

[2020-07-06 13:17] lopuhin opened #21 "Russian ordinal number examples"
@arnavkapoor some examples of ordinal numbers in russian, without any fancy stuff and in nominative case (the "main" one):

[code]

Other cases:

[code]

I tried to not make any typos (mostly copying examples from various grammatical guides) but if something does not work please tell and I'll double-check.

[2020-07-06 14:03] noviluni commented on #20
@arnavkapoor

[2020-07-06 14:04] noviluni commented on #20
(updated previous comment)

[2020-07-06 14:11] noviluni commented on #11
Regarding decimal numbers, I've seen that the CLDR files contain the `infinity` word for about 26 locales, so it could be a good idea to add them in the future as `float(inf)`. I didn't think it deeply, just wanted to add this idea here to avoid forgetting it.

[2020-07-07 12:24] #20 closed

[2020-07-10 07:08] #10 closed

[2020-07-10 07:08] #14 closed

[2020-07-16 09:32] noviluni commented on #15
I’ve been thinking about how we could extensively test our library against a language to be able to affirm that the library officially supports it.

My first ideas were:
* We should explicitly test all numbers from 0 to 100, as they are really common.
* We should test some different combinations of digits and different lengths of numbers.
* We should test edge cases or special cases for each langu

[2020-07-16 14:12] arnavkapoor commented on #15
@noviluni this is a great idea for the library , it can act as a basic threshold to say we support a language. ( and then language specific edge cases as you mentioned in the third point can be later added).
One thing, is that this can be used only for testing ```parse_number``` function not the ```parse``` function. However since both are heavily dependent  on the same common ```_build_number```

[2020-07-20 11:30] #15 closed

[2020-07-20 11:30] #21 closed

[2020-07-20 11:36] arnavkapoor opened #25 "Adding automated CSV tests"
Creating a new issue to track the [following](https://github.com/arnavkapoor/number-parser/issues/15#issuecomment-659295377)

[2020-07-20 11:41] arnavkapoor opened #26 "Adding extensive automated tests"
I’ve been thinking about how we could extensively test our library against a language to be able to affirm that the library officially supports it.

My first ideas were:
* We should explicitly test all numbers from 0 to 100, as they are really common.
* We should test some different combinations of digits and different lengths of numbers.
* We should test edge cases or special cases for each langu

[2020-07-20 11:42] arnavkapoor commented on #26
Creating a new issue to keep track of the point mentioned by @noviluni to add extensive testing.

[2020-07-20 11:47] noviluni commented on #26
Hi @arnavkapoor
I found that clevert.com.br does support Hindi. I will add the data when having a moment to the repo: https://github.com/noviluni/numbers-data

The only downside is that it has a maximum number supported, so the "permutations" file will be incomplete.

[2020-07-21 11:25] noviluni commented on #26
@arnavkapoor

Data is for hindi is now available:
* [hundreds](https://github.com/noviluni/numbers-data/blob/master/hundreds/hi_hundred_clevert.csv)
* [permutations](https://github.com/noviluni/numbers-data/blob/master/permutations/hi_permutations_clevert.csv)

[2020-07-21 14:30] arnavkapoor commented on #26
Thanks a lot @noviluni , I will now add support for hindi too in the latest PR #27. I have also mentioned the planned strategy for adding tests in this PR , please do review whenever possible.

[2020-07-27 11:28] arnavkapoor commented on #26
Closing issue as #27 is merged.

[2020-07-27 11:28] #26 closed

[2020-07-27 11:37] arnavkapoor commented on #13
We did end up using the second result from [here](https://stackoverflow.com/questions/517923/what-is-the-best-way-to-remove-accents-normalize-in-a-python-unicode-string) , which doesn't require an external library.

[code]
It seems to work in most of the case. More details [here](https://github.com/arnavkapoor/number-parser/pull/27#pullrequestreview-453446278) and [here](https://github.com/arnavka

[2020-07-27 11:37] #13 closed

[2020-07-29 14:28] #16 closed

[2020-08-01 10:56] arnavkapoor commented on #6
Hi @noviluni  so I had begin working on the support for ordinal numbers. The best approach I believe is to create similar structure like the cardinal numbers. One direction was to somehow extend the cardinal numbers to handle ordinal too. (storing additional suffix only , example ```th``` for English ). However there is a major difference between the ordinal and cardinal number in other languages.

[2020-08-03 07:50] noviluni commented on #6
Hi @arnavkapoor! It looks good! However, I'm not 100% sure of adding negative and decimal tokens right now for two reasons:
* When trying to implement it, it could be possible that we find other aspects we don't consider right now and this approach wouldn't be working.
* Every time we release a package, we usually expect to have a "stable" code. Adding this without being used, could cause confusio

[2020-08-03 08:21] noviluni opened #30 "SKIP_TOKENS at the end of a number"
Hi @arnavkapoor!

I was trying the package, and I found a side effect when trying to parse sentences in Spanish.

[code]

this would be approx. equivalent to:

[code]

As you can see, the "y" (or "and") disappears, but it should remain. We should probably avoid taking the "SKIP_TOKENS" when they are at the end of the number. What do you think?

[2020-08-03 08:26] arnavkapoor commented on #30
Thanks @noviluni , yes is definitely a missed edge case will fix it.

[2020-08-06 11:23] noviluni opened #33 "README tests are failing"
When running tox some errors are raised from the README.rst file:

1)
This:

[code]

should be:

[code]
(removing the `None`)

2)
This:

[code]

should be:

[code]
3)

And there is a trailing space after `1432524` in `>>> parse_number("चौदह लाख बत्तीस हज़ार पाँच सौ चौबीस", language='hi')`

[2020-08-06 11:25] noviluni opened #34 "Errors in generated files (CLDR/supplementary)"
1) The `es-419.py` file doesn't exist (while the JSONs do)

2) `root` is not a locale (as explained here: http://cldr.unicode.org/core-spec) so the JSON files for `root` should be deleted

[2020-08-06 11:27] noviluni commented on #18
Here ("Using neither" section): https://en.wikipedia.org/wiki/Long_and_short_scales#Using_neither there is a list of different numeral systems.

[2020-08-06 12:33] noviluni commented on #18
BTW, this resource has a lot of useful information: https://www.languagesandnumbers.com/site-map/en/

[2020-08-14 08:38] noviluni commented on #33
Closing as it was fixed in #35 :slightly_smiling_face:

[2020-08-14 08:38] #33 closed

[2020-08-26 08:23] arnavkapoor opened #40 "Adding support for languages with discernible delimiters"
Languages without delimiters - Japanese and Chinese (Simplified, Traditional) and possibly other east Asian languages don't have any delimiter. eg) 九千九百九十九 (9999 in Japanese). These actually have a very similar structure compared to English but the lack of a delimiter makes it tougher.
Also, there isn't a delimiter as such (upto a certain number) for German and Dutch .

One approach in mind for th

[2020-08-26 08:31] arnavkapoor opened #41 "Idiosyncracies in each language."
I looked at German/French and both have some idiosyncrasies which needs to be handled. For French, using ```quatre-vingt``` for 80 and then allowing numbers from 1 to 19 as the suffix , eg)  ```quatre-vingt-dix-neuf for 99, (80+19)```, would need to be handled. With German, it's a more fundamental issue, as they tend to build numbers from left to right. achtunddreißig (28) which is like 8 and twen

[2020-08-26 09:07] noviluni commented on #40
Just to give another approach, depending on the number of unique tokens, we could do the inverse process, trying to match the tokens with the number

As an example (I didn't think how to implementate it, it's just an idea):

[code]
This could reduce the complexity for long numbers.

[2020-08-26 09:33] arnavkapoor opened #42 "Feature to handle individual digits in parse_number"
So one of the use cases I think could be parsing phone numbers or zip codes. These might be written in the form of ```two three zero two five eight``` etc with each of the digit spelled out. Using ```parse``` would return space separated string ```2 3 0 2 5 8``` while ```parse_number``` would give ```None```. Neither gives the wanted output ```230258 (number)```. (Of-course the user can do some ad

[2020-08-26 09:43] noviluni commented on #42
It sounds interesting.

We could also use a parameter like `join_delimiter` or something like that to choose how to join the followed numbers (that are followed omitting spaces, commas, etc).

Examples:
[code]

[2020-08-26 09:43] arnavkapoor commented on #6
Currently ordinal number support exists for only English language. https://github.com/arnavkapoor/number-parser/pull/31#pullrequestreview-461492622 . There needs to be changes to incorporate other languages. One way could be updating the ```_apply_cardinal_conversion``` mentioned here. https://github.com/arnavkapoor/number-parser/pull/31#issuecomment-669913867 . The other could be creating same st

[2020-10-18 15:55] Tejasvinarora0110 commented on #40
Why can't we just translate all other languages to English and then just convert them to numbers ?
I guess this would reduce the effort. Translation can be done using Googletrans.
<img width="615" alt="3" src="https://user-images.githubusercontent.com/72192238/96373068-b6333b00-1187-11eb-9371-0efa6c6cfcb1.PNG">

[2020-10-20 13:42] NEERAJAP2001 commented on #42
@noviluni sir, this is what I am thinking what do you suggest?

From this code

[code]

To this code

[code]

Here, I have added a new parameter - delimiter  into the ```parse``` function

Links for the code

https://github.com/scrapinghub/number-parser/blob/dab1f31c2fef1cd7e9881564136312d96de86385/number_parser/parser.py#L308

https://github.com/scrapinghub/number-parser/blob/dab1f31c2fef1cd7e988

[2020-12-28 11:45] #8 closed

[2020-12-28 16:05] #34 closed

[2020-12-28 16:29] #30 closed

[2020-12-28 16:42] noviluni commented on #40
Hi @Tejasvinarora0110, sorry for the late answers.

There are multiple reasons to avoid using Google translator:

1. This library is aimed to work offline.
2. We want to keep the dependencies list as little as possible.
3. Keeping all languages independent from others (like English) would allow developing concrete solutions.
4. Avoid using external services will allow improving the performance

[2021-01-09 16:08] Manish-210 opened #51 "The links at the end of README.rst file are redirecting"
The following links:
    Source code: https://github.com/arnavkapoor/number-parser
    Issue tracker: https://github.com/arnavkapoor/number-parser/issues
are redirecting to:
    https://github.com/scrapinghub/number-parser
    https://github.com/scrapinghub/number-parser/issues
I was thinking to change it to the direct these links.

[2021-01-10 17:09] noviluni commented on #51
Hi @Manish-210! Thanks for the comment.

I also think it's a good idea to change them, feel free to submit a Pull Request :)

[2021-01-11 15:34] noviluni commented on #51
closed by: https://github.com/scrapinghub/number-parser/pull/52

[2021-01-11 15:34] #51 closed

[2021-01-15 10:04] Manish-210 opened #53 "Documentation and Understanding of the code"
Does there exist any documentation of number-parser library? I was not able to find and hence thinking to write one.
Also how to understand the each step in the code, for now I was understanding every commit from the start.

[2021-01-15 10:17] noviluni commented on #53
Hi @Manish-210

I don't think following the commits is a good idea to understand the current code, as some things have been changing over time. The effort you will need to do to understand all is is too much.

The first thing you should do to understand the library is reading the Readme. After that, I recommend you to go inside the [`number_parser` folder](https://github.com/scrapinghub/number-par

[2021-01-19 09:43] #53 closed

[2021-02-19 03:13] Manish-210 opened #58 "Use of " And " with numeric word and symbols are different"
For the given two examples, the results are different but they should be similar.
[code]

[2021-02-19 08:14] noviluni commented on #58
Hi @Manish-210! Thank you for opening the issue.

This is fixed in master. It was originally reported here: https://github.com/scrapinghub/number-parser/issues/30 and fixed here: https://github.com/scrapinghub/number-parser/pull/49

I will close this issue. It will be fixed in the package as soon as we release a new version. Thanks for the feedback!

[2021-02-19 08:14] #58 closed

[2021-02-21 03:37] Manish-210 opened #59 "Support for simple fractions"
We can add support for the simple fractions as well like three-fourth, half, etc.
Example:

I have a 3/4 cup of glass.

1/2

[2021-02-21 03:43] Manish-210 commented on #5
Can we store the usual words like quarter, half separately and use them whenever required.

[2021-02-21 05:25] Gallaecio commented on #59
I would actually expect `parse_number("half")` to return `Decimal('0.5')`. Maybe we could have a separate `parse_fraction` for `1/2`?

[2021-02-21 05:32] Gallaecio commented on #5
I’m not even sure if this is a good idea to implement this. My thinking is:

- In cases where it’s not possible for `parse_number` to determine that a word should not be translated into a number, but the user knows, the most flexible approach for the user to prevent words being translated into numbers is to process the string before passing it to `parse_number`, e.g. extracting what _can_ be a num

[2021-02-22 03:22] Manish-210 commented on #59
`parse_fraction` seems good, I'll give a try to implement it.

[2021-02-22 05:31] Manish-210 commented on #59
Some points to notice for the `parse_fraction` function :

1. fractions have several ways to spell. For example:
`3/4` as three fourths, three over fourth, three divided by fourth, or simply three by fourth.
In which the most commonly used is three fourths and I guess it is sufficient to implement a function for these types now.

2. after the number 3 the pattern is denominator with s, like three

[2021-02-24 03:59] Manish-210 commented on #59
I have written the ` parse_fraction ` function given below

`
def parse_fraction(input_string, language=None):

    """Converts a single number written in fraction to a numeric type"""
    if not input_string.strip():
        return None

    if language is None:
        language = _valid_tokens_by_language(input_string)

    if language != 'en':
        raise ValueError(f'"{language}" is not a su

[2021-02-24 06:57] Gallaecio commented on #59
I think it’s OK to provide an imperfect initial implementation, it can be improved over time based on feedback.

And yes, I think it would be best to include tests.

[2021-02-26 05:31] Manish-210 commented on #59
Yeah, Added the test data and sent a Pull request for this.
Should I mark this as an improvement or close this issue?

[2021-03-01 18:23] Gallaecio commented on #59
I’ve updated the description of https://github.com/scrapinghub/number-parser/pull/60 so that it closes this issue automatically once it is merged.

[2021-03-17 13:27] Manish-210 opened #61 "Integrate number-parser into dateparser and price-parser"
One of the major use after building the ` number-parser ` might be to integrate it with ` price-parser ` and ` dateparser ` as suggested by @noviluni .
There are many features that are similar in these libraries, consider:

#4 in ` number-parser ` and [#1](https://github.com/scrapinghub/price-parser/issues/1) in ` price-parser `. In both of these, the basic idea is to return the string of numbers

[2021-03-17 14:04] Gallaecio commented on #61
From the beginning, the goal has been for price-parser and Dateparser to make use of number-parser, in a way that is transparent to users. So, to your first question, I would go for the example 1, where users simply use price-parser, which uses number-parser underneath. When using price-parser, users do not even need to know that number-parser exists.

As for features that could be added to number

[2021-03-18 13:24] arnavkapoor commented on #61
Hi, @Manish-210; glad for the interest in the project. As @Gallaecio has mentioned, one of the objectives was to use number-parser in both price and date parser. The primary bottleneck in merging is not the final integration of the number-parser with either price-parser / date-parser (This could be just a single call to the number-parser library like this [scrapinghub/dateparser#711](https://githu

[2021-03-19 12:46] Manish-210 commented on #61
Thanks, @Gallaecio and @arnavkapoor
I have looked at [scrapinghub/dateparser#711 ](https://github.com/scrapinghub/dateparser/pull/711). I think I need to familiarize myself more with the code of `dateparser` and `number-parser` before I ask more related queries.

Just a general question for integrating `dateparser` and `number-parser` should I have to commit in [scrapinghub/dateparser#711 ](https:

[2021-03-19 16:11] Gallaecio commented on #61
That pull request corresponds to the `number_parser_incorporation` branch of @arnavkapoor’s fork. To work on top of his changes, you could add his fork as a Git remote to your local clone of the Dateparser repository, create a new branch starting from it, push that new branch to your own fork, and create a new pull request from there.

None exists, no. The closest things is https://github.com/scra

[2021-03-21 19:44] StarTrooper08 opened #62 "[Query] number parser"
![number parser](https://user-images.githubusercontent.com/72031540/111918019-0ac94200-8aa9-11eb-8a2d-505329a4aed0.PNG)

can we make that  1 as 1st .
Something like this 🤔
![np2](https://user-images.githubusercontent.com/72031540/111918053-495efc80-8aa9-11eb-87b0-f81234e2f39c.PNG)

[2021-03-22 09:45] Gallaecio commented on #62
I guess we could have a parameter that allows to determine whether ordinals are turned into ordinals or cardinals. Maybe ordinal syntax would be a better default.

I also wonder if there are languages out there without an shorthand symbol to append to cardinal numbers to mark them as ordinals. If so, it may also be useful to provide a way to format these numbers with additional flexibility, e.g. a

[2021-03-22 13:08] StarTrooper08 commented on #62
There is one easy way to do it.
I mean there is one python function which can do that changes in easy way.

[2021-03-22 14:24] StarTrooper08 commented on #62
[code]
Can we use this code to make the following changes 🤔  .

[2021-03-22 15:05] Gallaecio commented on #62
https://github.com/savoirfairelinux/num2words looks good for that use case, yet. They seem well maintained, and support multiple locales. If we need any functionality they already have, like in here, I think we should just add them as a dependency rather than reimplement the functionality ourselves.

[2021-03-22 15:19] arnavkapoor commented on #62
From my experience by working on this project last year there are a number of tools that do allow you to go from Number -> Words like the num2words library, however the other way around Words -> Number is trickier with less support.

Hence the primary challenge becomes to identify that the word 'First' (and other ordinal numbers in different languages) are actually referring to an ordinal number.

[2021-03-24 14:14] #59 closed

[2021-04-03 12:42] Manish-210 commented on #61
Hello, @Gallaecio
I have prepared a draft of my proposal on Google Docs:
https://docs.google.com/document/d/16TLsg3NUljkC-FWJcpO3ZJbP68WoxDjBvP9mQWQfsZg/edit?usp=sharing

I'd be very happy about feedback.

[2021-04-05 12:29] Gallaecio commented on #61
@Manish-210 It looks like a great start.

A few thouhts:

- One thing I would like to see as part of the proposal, though, is a more detailed action plan that shows that you are already familiar enough with the Dateparser and price-parser code base.

  At the moment, the goal description seem very high-level, and if you don’t already have an idea of how you plan to implement the changes, the time

[2021-04-07 19:56] AmPhIbIaN26 commented on #61
Is this issue solved or can i work on it??

[2021-04-07 22:02] Gallaecio commented on #61
@AmPhIbIaN26 If you mean to participate in Google Summer of Code 2021 as a student and work on this, feel free to work on a proposal. See https://gsoc2021.zyte.com/participate for details.

If you mean as a regular contributor, since this is a big endeavor and already a target for GSoC proposals, it would be best not to work on this now, and let GSoC candidate students work on their proposals.

[2021-04-08 08:21] AmPhIbIaN26 commented on #61
I am thinking of writing a proposal on it for Google Summer of Code 2021, thanks I'll look it up

[2021-04-08 10:07] AmPhIbIaN26 commented on #61
@Gallaecio I wanted to ask, do I have to make number parser a part of both price and date parser??

[2021-04-08 10:20] Gallaecio commented on #61
@AmPhIbIaN26 No, you don’t. You could focus on one of them, or you could only work on number-parser itself if you came come up with a set of features to implement that fits a GSoC project timeline.

[2021-04-08 10:49] AmPhIbIaN26 commented on #18
@noviluni I had asked Adrian about this [issue](https://github.com/scrapinghub/number-parser/issues/61) he advised me that I could add features in number parser, so would you recommend to take this issue for my GSoC 2021 prposal??

[2021-04-08 11:05] AmPhIbIaN26 commented on #61
@Gallaecio I looked up this [issue](https://github.com/scrapinghub/number-parser/issues/18) would you recommend this for my proposal for GSoC 2021??

[2021-04-08 11:11] Gallaecio commented on #61
@AmPhIbIaN26 If there are enough presently-used numerical system to fit the length of a GSoC project, yes, I think that would be a good choice.

[2021-04-08 11:16] AmPhIbIaN26 commented on #61
Thanks I'll look it up.

[2021-04-08 12:22] AmPhIbIaN26 commented on #18
@noviluni i have decided to take this for my GSoC proposal, I understood how one can wrote roman numerals in English alphabet and how one would implement it, I wanted to ask about Chinese/Japanese/Korean/Vietnamese numeral system. What I think is that it would parse the number which are input in symbols form the respective languages, or do I do it with the help of Unicode?

[2021-04-08 13:21] Gallaecio commented on #18
I did not understand this question. To me “symbols form” and “Unicode” are basically the same here, the input would be the symbols as a Python string.

[2021-04-08 14:27] AmPhIbIaN26 commented on #18
I meant to ask was should i be using "零" or "U+96F6", cause i tried some test code in python and it did print "零" as it is.
I assumed if one was to use this feature and take input from user in "零" form it would be directly handled instead of being converted to Unicode first.

[2021-04-08 14:32] noviluni commented on #18
Hi @AmPhIbIaN26

thanks for showing interest in fixing this, yes, I think this could be feasible for a GSoC proposal.

I'm not sure about your last question. In Python 3, unicode is enabled by default, so you don't need to handle it. 零 is unicode the same way than "U+96F6". I don't think you need to convert anything.

[2021-04-08 14:35] Manish-210 commented on #61
Thanks for the great feedback @Gallaecio
I have come up with the following points according to your feedback,

I agree with your phrase, so I will eradicate these extra stretch goals and devote weeks 9 and 10 as extras weeks for integration.

Firstly, sorry for that absurd language. I was actually saying like there might be the requirement of supporting new languages for `dateparser` or any other

[2021-04-08 14:37] AmPhIbIaN26 commented on #18
Ohh ok thanks, I'll work on it

[2021-04-08 17:08] AmPhIbIaN26 commented on #18
@noviluni I am doing a bit of research on this topic first, so do you only want conversion of numbers to int or a readable string. Or maybe could you you give me examples of what kind of parsing do you want in this.

[2021-04-08 18:01] AmPhIbIaN26 commented on #18
i looked up on how to parse roman numerals, it can be added to the current parser, but for the case of these other numerals for Chinese Japanese and other languages should I create a new parser??

[2021-04-08 18:16] Gallaecio commented on #18
If you mean whether the goal is to support new numerical systems in `parse_number` or `parse`, I would say that ideally both. And also `parse_ordinal` and `parse_fraction` if relevant.

That said, maybe it makes sense to prioritize `parse`, the one that replaces the numbers in-place in the strings, as I imagine that is the method more prone to be used by the likes of Dateparser and price-parser.

[2021-04-08 18:19] AmPhIbIaN26 commented on #18
So I add roman to parser and then make a new parser for the other languages, right?

[2021-04-08 18:25] Gallaecio commented on #18
That’s the opposite of what I meant, but I’m also starting to think that I may be misunderstanding what you mean here by “parser”.

How would each of the options (extending the existing parser with Roman number support vs adding a separate parser for Roman number support) look like for users, API-wise? Are you talking about creating separate user-level functions for other numeral systems, as oppos

[2021-04-08 18:36] AmPhIbIaN26 commented on #18
parsing roman is not a big or complex task and can be added directly to parser.py, what i meant by a different parser for other languages was that to create a new file for that, since i am new to this whole concept of parsers and making a python library in general i might be asking the wrong question.

I am not confused on how to integrate, that part is done will make a pull request for it soon.

[2021-04-08 18:50] Gallaecio commented on #18
I personally have no strong feeling either way on how to distribute the new code in the code base. Having separate files for the code that supports each numeral system (what we call _parsers_) would make sense to me, but I would not worry too much about that.

As for integration of other languages, my suggestion would be to aim for reuse of the existing functions, which is best when you don’t know

[2021-04-08 19:08] AmPhIbIaN26 commented on #18
I'll look into it, will make a pull request for roman numeral by tomorrow maybe and was thinking of taking other numerals in my proposal, how does that sound?

[2021-04-08 19:17] Gallaecio commented on #18
Sounds great!

[2021-04-08 19:18] AmPhIbIaN26 commented on #18
Thanks a lot, I am excited to work on this!!

[2021-04-08 20:33] AmPhIbIaN26 commented on #18
I worked on a way for parse_number, where you have to set ```language='rom'```, I did this because unlike other languages where you can add the ones tens and hundreds to get the number, roman numbers are different. I had to make a dictionary in the ```parse_number``` function, because I couldn't find a way to add these in lang_data, I will still try to implement it with ```language=None```.

So th

[2021-04-09 06:26] Gallaecio commented on #18
It sounds would as a temporary workaround, but we should not treat this as a language, since “rom” is no ISO language. There’s Latin (`la`), I don’t think this parser should be limited to that language, or even do anything special for that language.

I take it you went the “rom” route for now due to implementation limitations. But to discuss how to best address those, and how to refactor the code

[2021-04-09 06:28] AmPhIbIaN26 commented on #18
Ok, I'll see a work around to it.

[2021-04-10 17:51] AmPhIbIaN26 commented on #18
Hey @Gallaecio hope you're doing well!
I have implemented parsing roman numerals, and have made a [pull request ](https://github.com/scrapinghub/number-parser/pull/63) for it.
So the ```parse_number()``` now works like this:
[code]
for the case for ```parse()``` this works
[code]
But this doesn't,
[code]

I have to make changes to the ```_valid_tokens_by_language(input_string)``` function to recog

[2021-04-12 07:58] noviluni commented on #18
Hi @AmPhIbIaN26 and @Gallaecio!

Thank you both for going through this interesting conversation.

I checked the PR and you did a really good job looking at the code and understanding how it works.

So now that you have some practical knowledge, let's see why the chosen approach (reusing the existing parser) doesn't work.

The "parser" you are using is for decimal numbers. That means, that numbers

[2021-04-12 08:30] AmPhIbIaN26 commented on #18
Thanks a lot @noviluni  for this review of my work. I will look into it. I have started working on my proposal and is almost completed. I was thinking along side with this I could also work on this [issue](https://github.com/scrapinghub/number-parser/issues/41). I have done a fair bit of research on the Suzhou numeral system, it has substantial amount of work to do, but having more issues/ideas in

[2021-04-12 08:41] noviluni commented on #18
Hi @AmPhIbIaN26,
you can definitely work on issue #41, however, the scope of that issue is really big, so I would focus only on one of the issues mentioned, like trying to fix the German issue (revert numbers) or the French issue ("quatre-vingt").

For Suzhou, I'm not an expert, but the research looks good to me. Probably a good starting point would be writing some tests with that data and try to

[2021-04-12 09:06] AmPhIbIaN26 commented on #18
Thanks @noviluni  for the support, I will take up German issue(revert numbers) along side with Roman and Suzhou Numeral.

[2021-04-12 22:08] AmPhIbIaN26 commented on #18
Hi @noviluni and @Gallaecio , I would be obliged if you could take a look at my [draft proposal](https://docs.google.com/document/d/1f-pXTH3Hp5QfMSqOFTxjYNEX-LM56guF-qRSvxRBW4E/edit?usp=sharing) and suggest changes.
Looking forward to hearing from you. Thank you.

[2021-04-13 09:35] Gallaecio commented on #18
@AmPhIbIaN26 The technical parts of the proposal look good to me, and as @noviluni said we can already see that you’ve gotten familiar with the code base.

But the timeline looks wrong: Google Summer of Code 2021 will only be made of 10 weeks. Please, update your proposal with a new timeline. I haven’t had a detailed look at your timeline because of this issue, but do remember that you do not need

[2021-04-13 13:28] AmPhIbIaN26 commented on #18
Thanks for the suggestion, I have changed the timeline also made changes to the deliverables. I have also added precedence study.
I have submitted my [final proposal](https://docs.google.com/document/d/1f-pXTH3Hp5QfMSqOFTxjYNEX-LM56guF-qRSvxRBW4E/edit?usp=sharing).

[2021-04-14 21:03] AmPhIbIaN26 commented on #18
@noviluni I will now work on creating on the new ```parse_roman()``` function. Will make a pull request once I'm done.

[2021-04-19 10:02] AmPhIbIaN26 commented on #18
Hi @noviluni and @Gallaecio hope you both are doing well and are safe.
I have implemented ```parse_roman()``` function in the parser. It can now parse:

[code]

I have have a [pull request](https://github.com/scrapinghub/number-parser/pull/64) for it. I have also added test cases to it.

[2021-04-20 14:44] MarwaMohammad opened #65 "Mixing between digits and character number"
Thank you for your package: but there is a case which wasn't handled, the case of mixing the numbers and characters.

I tried this:
1- print(parse_number("2.4 million"))
   It gives None

2- parse_ordinal("2.4 million")
   It gave None

3- parse("2.4 million")
    It gave me : 2.4 1000000

My expectation is to give me 2400000 or 2.4*10**6

[2021-05-03 18:13] AmPhIbIaN26 opened #66 "Unicode error in pytest for Hindi, Spansish and Russian in Windows."
To recreate this run pytest in Windows. This error is taken from ` test_language_hi.py`
[code]

This only happens in Windows not linux. This can be solved by adding `encoding='utf8'` to the `open()` function on line 23 in `__init__.py`

[2021-07-17 21:04] prabhatM opened #70 "First day is not 1 day or second day is not 2 day"
Hi,

We can't really use "First day as 1 day or second day as 2 day" in real life context. For this reason we can't use this wonderful library.

Please leave them as they are or think of an alternative. Temporarily, give us an exception list option.

Prabhat

[2021-07-18 18:12] Gallaecio commented on #70
I think it would make sense to allow specifying via `parse` parameter types of numbers to convert (i.e. those for which we provide specific functions: ordinal, fraction, etc.).

[2021-11-11 15:27] kailash360 commented on #65
@Gallaecio, can I work on this issue?

[2021-11-15 07:07] Gallaecio commented on #65
@kailash360 Please, go ahead!

[2021-11-27 09:18] dhananjaypai08 commented on #4
Hey @noviluni @Gallaecio

The issue mentioned about parsing '1 million' to '1000000'
------
##### Previously
[code]
so to change this to '1000000' we can make few changes to the algorithm.
##### My Approach for this issue
1.)According to me,
In the ``` number_parser/parser.py``` while checking the validity(function name: _check_validity) of the current token with the previous one , we can check if

[2021-12-04 16:36] dhananjaypai08 commented on #70
Won't we have to integrate a separate  gateway wherein the json file of that language will have data for handling this separate case of dictionary value ('second':'2nd') be parsed to python file of that language and in that info we will have the edge cases number key which will store these edge cases value in the dictionary(ex: 'first':'1st' and so on) .

When we check the token to be in the numer

[2021-12-31 10:59] #66 closed

[2022-01-04 10:44] Anil86 opened #73 "Update package on PyPI for parsing a fraction"
Please update package with latest features.
Parsing a fraction is not available in **current number-parser library on PyPI**.

[code]

[2022-01-12 10:19] ludgerheck opened #75 "dangling "and" is swallowed"
when I enter "hundredandfive thirtyone and some other text" I get  ['105', '31', 'some', 'other', 'text']
It seems, as if the dangling "and" is swallowed

[2022-01-12 20:40] dhananjaypai08 commented on #75
Right now while parsing, the input string is tokenized and then it extends up to be ['hundredandfive', ' ', 'thirtyone', ' ', 'and', ' ', 'some', ' ', 'other', ' ', 'text']. So basically 'hundredandfive' and 'thirtyone' will not be parsed as spaces are expected in between two numbers right now.
_eg: fiftynine-> fifty nine = 59, hundredandfifty->hundred and fifty = 150_

expected input string:
```p

[2022-01-13 07:38] ludgerheck commented on #75
I am sorry!
I should not have left out intermediate steps.
I wrote a tokenizer the splits up the compounds.
So what actually gets to the number-parser is "hundred and five thirty
one and some other text" -> ['105', '31', 'some', 'other', 'text']
And yes, the "and" is swallowed

incidently, this is what I did

     numwords = ['one', 'two', 'three', 'four', 'five', 'six', 'seven',
'eight', 'nine',

[2022-01-21 18:27] dhananjaypai08 commented on #75
Okay so you have to parse 'hundred' and 'five' separately in the parse function. The thing is in number_parse number tokens are build and added simutaneously so even if 'and' was not included in the string still it would parse
```'105 and 31 and some other text'```. The only 'and' overriden is the one between hundred and five which builds a number. Even if that one was not present in the string st

[2022-03-17 12:42] #75 closed

[2022-07-05 20:16] matth opened #76 "`parse()` - whitespace around sentence separators consumed after numbers"
Small bug / issue. In normal operation the `parse()` function respects white space around sentence separators ...

[code]

This is not the case when the white space follows a number ...

[code]

Ideally the behaviour would be consistent and respect the original whitespace around any separators / words.

[2022-08-26 14:16] serhii73 opened #78 "Doesn't recognize a million in Ukrainian"
[code]

http://sum.in.ua/s/miljjon

These are two versions of the writing of the word million in the Ukrainian language.

Is it a problem that Ukrainian is not in supported languages? https://github.com/scrapinghub/number-parser/blob/master/number_parser/parser.py#L5
But I see Ukrainian here https://github.com/scrapinghub/number-parser/blob/master/number_parser/data/uk.py#L53

Thank you.

[2022-10-11 18:42] #78 closed